 #heading1{ 
    color: rgb(148, 200, 231);
    background-color: rgb(244, 214, 214);
}

.text-pink{ 
    color: rgb(228, 134, 206);
}

.text-background-yellow{ 
    background-color: rgb(222, 239, 28);
}

body{
    background-image:url("../assets/img/sample1.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    color: rgb(75, 236, 218);
    font-family: "momo signature","Lucida Handwriting",cursive;
}

h1{
    font-size: 3.8 rem;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
}

:root{
    --primary-blue: rgb(0, 166, 255);
    --just-red: #ec6a59;
}

a:hover{
    color: var(--just-red);
}

a{
    color: rgb(0, 166, 255);
    text-decoration: none;
    background-color: rgba(131, 236, 166, 0.3);
    padding: 20px 10px 20px 10px;
    margin-left: 50px;
}

.text-para{
    text-align: justify;
    text-align-last: center;
    text-decoration-style: wavy;
}

@media (max-width: 576px){
    body{
        background-color: lightblue;
    }
}
